body{
  margin:0;
  padding:0;
  background: white;
}
ul.navBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: green;
  height: 9vw;
}

.logo img{
  position:fixed;
  margin-top:0.4vw;
  margin-left: 0.8vw; 
}
.hiding
{
  display: none;
}
.showing
{
  display: block;
}
li
{
  float: left;
  vertical-align: middle;
}
li a {
  font-size: auto;
  display: block;
  color: white;
  text-align: center;
  padding: 2vw .75vw;
  text-decoration: none;
}



/*Front page*/

.block{
  float: left;
  width: 50%;
  padding: 0.4vw;
/*  text-align: center;
*/}
* {
  box-sizing: border-box;
}

.logoSize{
  width:7vmin;
  height: 7vmin;
  vertical-align: center;
}

.TopHeadersButtons{
  font-size: 3vmin;
  margin-top: 2vmin;


}
.container {
  position: relative;
  color: white;
  text-transform: uppercase;
*/}
.top-left {
  float:left;
  position: absolute;
  top: 0.6vw;
  left: 1.25vw;
}
.emphasis
{
  float:left;
  font-size: 1.5vw;
}

/*Menu*/
.pageContent
{
  display: block;
}
#menuPic
{
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  width:75%;
}
.blockMenu1{
  float: left;
  width: 50%;
  padding: 0.5vw;
  text-align: center;
  margin-bottom: 5.5vw;
  margin-top: 2.3vw;
}
.blockMenu2{
  float: left;
  width: 50%;
  padding:0.5vw;
  text-align: center;
  margin-bottom: 5.5vw;
   margin-top: 2.3vw;
}
.blockMenu3{
  float: left;
  width: 50%;
  padding: 0.5vw;
  text-align: center;
  margin-bottom: 1.5vw;
}
.blockMenu4{
  float: left;
  width: 50%;
  padding:0.5vw;
  text-align: center;
  margin-bottom: 1.5vw;
}
* {
  box-sizing: border-box;
}





.containerMenu {
  position: relative;
  color: black;
  text-transform: uppercase;
  font-size: 50%;
}
.top-leftMenu {
  float:left;
  position: absolute;
  top: 0.8vw;
  left: 5vw;
}


/*Checkout bar*/
#checkout-bar
{
  background: white;
  color:white;
  position:absolute;
  top:9vw;
  bottom:0;
  overflow-y:auto;
  right:0;
  padding: 5vh 4.5vw;
  height: 100vh;
  left:75vw;
 
  overflow-y:visible;
}


ul.checkout
{
  position: absolute;
  list-style-type: none;
  background-color: white;
  color:black;
  right: 2.4vw;
  width: 75%;
  overflow: auto;
}
#checkout-button
{
  background-color: crimson;
  border: none;
  color: white;
  padding: 1.6vmin;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.25vw;
  margin: 0.3vw 0.15vw;
  cursor: pointer;
  border-radius: 0.23vw;
  width: 100%;
}

.checkOutBar{
color: black;
width: 100%;
margin-top: 0vh;
font-size: 1.25vw;
}

/*Food Menu*/
#burgerMenu
{
  margin-top: 1.6vw;
  margin-right: 0.8vw;
  width:75%;
}

.panel
{
  float:left;
  color:white;
  width:100%;
  background-color: darkgreen;
  text-align: center;
}
.foodBlock
{
  float: left;
  width: 33.3%;
  padding: 5%;
  text-align: center;
  margin-bottom: 2%;
  margin-top: 1%;
}
.customize-button
{
  background-color: dodgerblue;
  border: none;
  color: white;
  padding: 1vh 1.2vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: .8vw;
  margin: 4% 2%;
  cursor: pointer;
  border-radius: 18%;
  margin-top:5%;
}
.order-button
{
  background-color: tomato;
  border: none;
  color: white;
  padding: 1vh 1.2vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: .8vw;
  margin: 4% 2%;
  cursor: pointer;
  border-radius: 18%;
  margin-top:5%;
}
/*----------------------------
        Modal
------------------------------*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 8vw; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-dialog{
    overflow-y: initial !important
}
.modal-body{
    height: 250px;
    overflow-y: auto;
}
/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 1.6vw;
  border: 0.08vw solid #888;
  width: 80%;
  color: black;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 2.19vw;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
input
{
  text-align: left; 
}

/*Promotion page*/
.promoPanel
{
  background-color: firebrick;
  border: none;
  color: white;
  padding: 1.5vh 3vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2vw;
  margin: 4% 2%;
  cursor: auto;
  border-radius: 5%;
  margin-top:10%;
}
.Promo
{
  margin-top: 1.56vh;
  margin-left: 1.28vw;
  margin-right: 1.28vw;
  margin-bottom: 0vh;
}

.promoHeader{
  font-size: 1.3vw;
}
.panel2
{
  float:left;
  color:white;
  width:100%;
  background-color: #b30000;
  text-align: center;
}
.beverageBlock
{
  float: left;
  width: 25%;
  padding:5%;
  text-align: center;
  margin-bottom: 2%;
  margin-top: 1%;
}


  #map{
    margin-left: 5vw;
    margin-top: 0vh;
    margin-bottom: 15vh;
    height: 50vh;
    width: 50vw;
  }

  .mapText{
    margin-left: 60vw;
    margin-top: -60vh;
    font-size: 1.2vw;
    color: rgb(128,128,128);
    
  }
  .mapHeader{
     margin-left: 5vw;
    margin-top: 15vh;
    font-size: 2vw;

  }

  .description{
    font-size: 1.2vw;
    text-align: justify-all;
  }

  .foodText{
    font-size: 1.5vw;
  }

  .price{
     font-size: 1.3vw;
  }
  .wingsPic{
    width: 14.5vw; height:25vh
  }
  .quantity2{
    padding: .5vh .5vw;
  }

  .header
  {
    text-align: center;
    background: green;
    color: white;
    width: 100%;
    top: 30vh;
    font-size: 4vh;
  }

.tag
{
  color: gray;
  text-align: center;
  width: 100%;
}
.reviewName
{
    float: left;
text-align: center;
  width: 45%;
}
.reviewPrice
{
  float: left;
  width: 20%;
  text-align: center;
}
.reviewQuantity
{
    float: left;

  width: 15%;
  text-align: center;
}
.reviewTotal
{
    float: left;
text-align: center;
  width: 20%;
}
ul.review
{
  width: 100%;
  text-align: center;
}
.list
{
  color: black;
  text-align: center;
  width: 100%;
}
.footer
{
  color: gray;
    float: left;
text-align: right;
  width: 80%;
}
.beef
{
  background-color: tomato;
}
    .form-control {
    line-height: 40px;
    height: auto;
    padding: 0 16px;
    }
    .creditCardForm {
    max-width: 700px;
    background-color: #fff;
    margin: 100px auto;
    overflow: hidden;
    padding: 25px;
    color: #4c4e56;
    }

    .creditCardForm label {
    width: 100%;
    margin-bottom: 10px;
    }
    .form-group {
    float: left;
    margin-bottom: 15px;
    }

#proceed
{
  background-color: crimson;
  border: none;
  color: white;
  padding: 1.6vmin;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.25vw;
  margin: 0.3vw 0.15vw;
  cursor: pointer;
  border-radius: 0.23vw;
  width: 20%;
  float: right;
}
 .thankYou{
    color: tomato;
    font-size:3vw;
    text-align:center;
     margin-top:10%;
     margin-left: 0%;
     font-style: italic;
     font-family:'Pacifico', cursive;
  }

  .homePage{
    margin-left: 30%;
    background-color: lightgreen; /* Green */
    border: none;
    color: white;
    font-size: 1.5vw;
    padding: 1.6vmin;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.25vw;
    margin: 0.3vw 0.15vw;
    cursor: pointer;
    border-radius: 0.5vw;
  }

  .homePage:hover{
    background-color: #00B000;
  }
.signup-login-form{
  width: 25vw;
  padding: 3.5vh 8vw;
  text-align: center;
  background: green;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  overflow: hidden;
}
.signup-login-form h1{
  margin-top: 10vh;
  font-family: Arial;
  color: #fff;
  font-size: 4vw;
}
.signup-login-form input{
  display: block;
  width: 100%;
  padding: 1.7vh 1.2vw;
  height: 7vh;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  border: none;
  font-family: "montserrat",sans-serif;
}
.txtb{
  margin: 1vh 0;
  background: rgba(255,255,255,.5);
  /* padding:10px 10px ; */
  font-size: 1.4vw;
  border-radius: 1.5vmin;
}
.signup-btn{
  margin-top: 5vh;
  margin-bottom: 3.5vh;
  background: #487eb0;
  padding:   1.7vh 1.2vw;
  font-size: 1vw;
    height: 5vh;
  color: #fff;
  border-radius: 5vmin;
  cursor: pointer;
  transition: 0.8s;
}
.signup-btn:hover{
  transform: scale(0.96);
}
.signup-login-form a{
  text-decoration: none;
  color: #fff;
  font-family: "montserrat",sans-serif;
  font-size: 1vw;
  padding: 1.7vh 1.2vw;
  transition: 0.8s;
  display: block;
}

.signup-login-form a:hover{
  background: rgba(0,0,0,.3);
}
.have-account{

background:  #487eb0;
border-radius: 44px;
}
.btn {
  background-color: white;
  border: 1px solid green; 
  color: gray; 
  padding: 10px 24px; 
  cursor: pointer; 
  float: left; 
  display: flex;
  justify-content: center;
}
.active
{
  background-color: #4CAF50;
  color: white;
}
.btn:hover {
  background-color: lightgreen;
  color: white;
}
#myDIV
{
    display: flex;
  justify-content: center;
}